<div class="container experience-container">
  <h3>{{ site.experience_title | default: "경력 사항" }}</h3>
  {% for experience in site.data.experience %}
    {% include {{ experience.layout | default: 'left' | append: ".html" | prepend: "v1/" }} item=experience %}
      {% for experience_sub in site.data.experience_sub %}
          {%- if experience_sub.parent == experience.parent -%}
          <div class="row clearfix layout layout-left wonylayout">
            <div class="col-xs-12 col-sm-4 col-md-3 col-print-12 details"></div>
            <div class="col-xs-12 col-sm-8 col-md-9 col-print-12">
              {%- if include.item.quote -%}
              <p class="quote">{{ include.item.quote }}</p>
              {%- endif -%}
              {% include {{ experience_sub.layout | default: 'left' | append: ".html" | prepend: "v1/" }} item=experience_sub %}
              {{ include.item.description | strip | markdownify }}
            </div>
          </div>
          {%- endif -%}
      {% endfor %}
  {% endfor %}
</div>
