<div class="company-header-mini">
    <span class="company-name"><%= company.name %> | <%= company.position %></span>
    <span class="company-period"><%= company.period %><% if (company.duration) { %> (<%= company.duration %>)<% } %></span>
</div>
